.Hawaii-img{
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 250px;
    padding-top: 120px;
}
.alt-hawaii{
    padding-left: 30px;
    font-size: 20px;
}
.form-hawaii-wrapper{
    margin-left: 240px;
    padding-top: 100px;
    padding-bottom: 100px;
}
form button {
    margin-top: 20px;
    border: 1px solid black;
	display: block;
	background-color: #0095eb;
	padding: 10px 45px 10px 45px;
	font-size: 1em; 
	color: 	white;
  font-family: "Roboto", sans-serif;
  border-radius: 35px;
}
form button:hover{
	background-color: #046193;
}
.form-element{
    margin-top: 20px;
    font-size: 20px;
}

.tableta{
    padding-left: 1000px;
}